@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --grey-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #e2e2e2 -78.47%,
    #bdf3b3 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%, 
    rgba(142,192,16,1) 0%, 
    rgba(84,183,10,1) 50%, 
    rgba(41,137,26,1) 100%
    );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-green-gradient {
  background: linear-gradient(
    157deg, 
    rgba(142,192,16,1) 0%, 
    rgba(84,183,10,1) 50%, 
    hsl(112, 68%, 32%) 100%
    );
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--grey-gradient);
  box-shadow: var(--card-shadow);
}

.future-card:hover {
  background: var(--grey-gradient);
  box-shadow: var(--card-shadow);
}

.bg-lime-gradient {
  background: rgb(255,255,255);
  background: linear-gradient(124deg, rgba(241,253,241,0.8) 0%, rgba(227,239,196,0.8) 15%, rgba(188,218,114,0.8) 37%, rgba(142,192,16,0.8) 58%, rgba(213,236,20,0.8) 85%, rgba(229,237,21,0.8) 100%);
}

.bg-discount-gradient {
  background: linear-gradient(144deg, #acabab 0%, #788a75 100%);
}

.bg-grey-gradient {
  background: var(--grey-gradient);
}

.green__gradient {
  background: rgb(178, 241, 19);
  filter: blur(5rem);
}

.mategreen__gradient {
  background: rgba(41,137,26,0.1);
  filter: blur(5rem)
}

.yellow__gradient {
  background: linear-gradient(90deg, rgba(236, 206, 20, 1) 0%, rgba(229, 237, 21, 1) 100%);
  filter: blur(8rem);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(187, 165, 255, 0.5) 0%, #1eadfa 100%);
  filter: blur(10rem);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.507);
  filter: blur(3rem);
}